<div class="card">
	<div class="card-header d-flex">
		<span class="h2 flex-grow-1">Новая статья</span>
		<button class="btn btn-light rounded text-lg font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				+
    </button>
	</div>
	<div class="collapse" id="collapseExample">
	  <form method="post" action="/profile/?section=articles">
			{% csrf_token %}
			<div class="card-body">
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="input-title">Тема</span>
				  </div>
				  <input name="title" type="text" class="form-control" placeholder="Заголовок статьи" aria-describedby="input-title">
				</div>

				<label for="short-text">Краткое описание</label>
				<div class="input-group mb-3">
						<textarea name="short_text" id="short-text" class="form-control"></textarea>
				</div>

				<label for="full-text">Полное описание</label>
				<div class="input-group mb-3">
						<textarea name="full_text" id="full-text" class="form-control"></textarea>
				</div>

				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="input-tag">Тэги</span>
				  </div>
				  <input name="tags" type="text" class="form-control" placeholder="Введите тэги через запятую" aria-describedby="input-tag">
				</div>
			</div>
			<div class="card-footer text-right">
					<input name="form_add" type="submit" class="btn btn-primary" value="Опубликовать">
			</div>
		</form>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<h2>Cтатьи</h2>
	</div>
	<div class="card-body">
		{% for article in articles %}
		  <div class="card bg-light mb-3">
				<div class="row no-gutters">
						<div class="col-sm-4">
								<img src="" class="card-img" alt="">
						</div>
						<div class="col-sm-8">
								<div class="card-body">
										<h5 class="card-title">{{ article.title }}</h5>
										<p class="card-text">{{ article.legend }}...</p>
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#article{{ article.id }}">
												Редактировать
										</button>
										<p class="card-text"><small class="text-muted">{{ article.time_published }}</small></p>
										<hr>
										{% for tag in article.tags.all %}
										<a href="/articles/?tag={{ tag.name }}" class="badge badge-primary">{{ tag.name }}</a>
										{% endfor %}
								</div>
						</div>
				</div>
		  </div>

			<!--Modal window article-->
			<div class="modal fade" id="article{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="title{{ article.id }}" aria-hidden="true">
				<div class="modal-dialog modal-xl" role="document">
					<div class="modal-content">
						<form method="post" action="/profile/?section=articles">
							{% csrf_token %}
							<div class="modal-header">
								<input name="id_article" type="hidden" value="{{ article.id }}">
								<div class="input-group">
								  <div class="input-group-prepend">
								    <span class="input-group-text">Заголовок</span>
								  </div>
									<input name="change_title" class="modal-title form-control" id="title{{ article.id }}" value="{{ article.title }}">
								</div>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">

								<div class="input-group">
								  <div class="input-group-prepend">
								    <span class="input-group-text">Краткое описание</span>
								  </div>
									<textarea name="change_legend" class="form-control">{{ article.legend }}</textarea><br>
								</div>
								<div class="input-group">
								  <div class="input-group-prepend">
								    <span class="input-group-text">Полное описание</span>
								  </div>
									<textarea name="change_description" class="form-control">{{ article.description }}</textarea><br>
								</div>
								<div class="input-group">
								  <div class="input-group-prepend">
								    <span class="input-group-text">Тэги</span>
								  </div>
									<input name="change_tags" class="form-control" value="{% for tag in article.tags.all %}{{ tag.name }}, {% endfor %}">
								</div>
							</div>
							<div class="modal-footer justify-content-between">
									<p class="card-text"><small class="text-muted">{{ article.time_published }}</small></p>
									<input name="form_change" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#article{{ article.id }}" value="Изменить">
							</div>
						</form>
					</div>
				</div>
			</div>
		{% empty %}
			<h2>У вас нет ни одной статьи</h2>
		{% endfor %}
	</div>
</div>
